
.info-container {
  padding: 20px;
  display: flex;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.waste-list {
  margin-left: 10%;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  gap: 10px;
}

.material-card {
  width: 400px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.material-card:hover {
  transform: translateY(-5px);
}

.material-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.material-info {
  padding: 10px;
}

.material-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.material-type {
  font-size: 16px;
  color: #555;
}

.dry-waste {
  background-color: #ADD8E6;
}

.wet-waste {
  background-color: #98FB98;/* Light green background for wet waste */
}
