
.body {
  background-color: #ffffff00;
  background-image: url('./images/login.webp');
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.signup-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form-container {
  width: 596px;
  height: auto;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.29) 100%);
  border-radius: 10px;
  border: 4px black solid;
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  margin-bottom: 8px;
  font-size: medium;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  height: 50px;
  background: linear-gradient(180deg, #FFC123 0%, #FF3E23 100%);
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
